.container-fluid {
    padding: 30px;
    background-color: #2c5aa0;
}

img {
    width: 100%;
    padding: 50px
}

hr {
    width: 100%;
    background-color: #fff;
}

#colu2 {
    padding: 50px;
    background-color: #214478;
    color: #fff;
}

#colu1 {
    padding: 10px;
    background-color: #fff;
}

.card {
    width: 100%;
    background: #fff;
}

input {
    opacity: 50%;
    width: 100%;
    border-radius: 10px;
    display: block;
    padding: 8px;
}

select {
    opacity: 50%;
    width: 100%;
    border-radius: 10px;
    display: block;
    padding: 8px;
}

#btnIngValida,
#btnIngRegistrarse,
#btnIngSubmit {
    opacity: 50%;
    width: 95%;
    padding: 8px 16px;
    margin-top: 10px;
    border-radius: 25px;
    display: block;
    color: #000;
    background-color: #37C8AB;
    margin-left: 8px;
}

#btnIni,
#btnAviso,
#btnAcep,
#btnReg,
#btnOlv,
#btnTer {
    color: #fff;
}

.card-body {
    background: #37C8AB;
}

.modal-header {
    background: #214478;
    color: #fff;
}

.modal-body {
    color: #000;
}

.close {
    color: #fff;
}

#recuperaEmail {
    width: 50%;
}

#btnRecuEmail {
    width: 20%;
}

#Regresar {
    margin-left: 85%;
}

#nombreServ,
#tipoServ,
#tipocosto,
#costoServ,
#evidenciaServ {
    background: #2c5aa0;
    color: #fff;
}

#descripcionServ {
    width: 100%;
    height: 435px;
    background: #2c5aa0;
    color: #fff;
    opacity: 50%;
    margin-top: 8px;
}

#btnguardarServ {
    background: #2c5aa0;
    opacity: 100%;
    color: #fff;
    padding-top: 10px;
}