<div class="container-fluid">
    <div class="container-fluid" ng-controller="loginCtrl">
        <div class="row">
            <div class="col-md-6" id="colu1">
                <div class="text-center">
                    <img src="imgs/iconLogo.png" alt="">
                    <h1>
                        MOBILITY JOB
                    </h1>
                </div>
            </div>
            <div class="col-md-6" id="colu2">
                <div class="text-center">
                    <h1>Iniciar Sesión</h1>
                </div>
                <hr>
                <form>
                    <div class="form-group">
                        <label for="inputNickName">Nombre de Usuario</label>
                        <input type="text" class="form-control inputBody" id="inputNickName" ng-model="user.inputMail">
                    </div>
                    <div class="form-group">
                        <label for="inputPass">Contraseña</label>
                        <input type="password" class="form-control inputBody" id="inputPass" aria-describedby="passHelp" ng-model="user.inputPass">
                    </div>
                </form>
                <div class="row">
                    <div class="col-lg-12">
                        <div class="text-center">
                            <button id="btnIngRegistrarse" type="submit" ng-click="login(user)">Ingresar</button><br>
                            <a id="btnReg" href="#!registerUser" role="button">Registrarse</a>
                            <br>
                            <a id="btnOlv" role="button" href="#" data-toggle="modal" data-target="#myModal">Olvide mi contraseña
                                <div class="container">
                                        <div class="modal fade" id="myModal">
                                        <div class="modal-dialog modal-lg">
                                            <div class="modal-content">
                                
                                                <!-- Modal Header -->
                                                <div class="modal-header">
                                                    <h4 class="modal-title">Restablecer contraseña</h4>
                                                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                                                </div>
                                
                                                <!-- Modal body -->
                                                <div class="modal-body">
                                                    <label for="recupera">Escriba su correo electronico</label>
                                                    <input type="email" name="recuperar" id="recuperaEmail">
                                                    
                                                </div>                                
                                                
                                            </div>
                                            <input type="submit" value="Enviar" id="btnRecuEmail">
                                        </div>
                                    </div>
                                </div>
                                    <!-- The Modal -->
                                    
                          
                            </a>
                            <br>
                            <a id="btnTer" role="button" href="#">Terminos y Condiciones</a>
                            <br>
                        </div>
                    </div>
                </div>
                <div class="alert alert-danger text-center" ng-show="errorLogin">
                    <button type="button" class="close" ng-click="clearMsg()"><span aria-hidden="true">&times;</span></button> {{ errorMsg }}
                </div>
                <hr>
            </div>
        </div>
    </div>
</div>














<!-- <div id="cardForm" class="card text-center container">
<div class="card-body" ng-controller="loginCtrl">


    </div>

  <div class="card-footer text-muted">
    <div class="row">
      <div class="col-sm-12">
        <a class="linkClass" href="#!registerUser">Registrarse</a><br>
        <a class="linkClass" href="#">Olvide mi contraseña</a><br>
        <a class="linkClass" href="#">Terminos y Condiciones</a>
      </div>
    </div>
  </div>
  <div class="alert alert-danger text-center" ng-show="errorLogin">
    <button type="button" class="close" ng-click="clearMsg()"><span aria-hidden="true">&times;</span></button>
    {{ errorMsg }}
  </div>
  </div> -->